body 
{
	margin-left: 10%;
	margin-right: 10%;
	padding: 5px;
	font-family: Arial, Sans-serif;
}
h1
{
	font-size: 2em;
	text-align: center;
}
code
{
	background-color: #eee;
	display: block;
	border: 1px solid #999;
	overflow-wrap: break-word;
	word-wrap: break-word;
	padding: 10px;
}
.raw
{
	white-space: normal;
}