<DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>404 Not Found</title>
		<base href="{{base}}">

	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <link href="{{static}}/errors.css" rel="stylesheet">
	</head>
	<body>
		<h1>404 Not Found</h1>
		<p>{{description}}</p>
	</body>
</html>
