<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>503 Service Unavailable</title>
		<base href="{{base}}">

	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <link href="{{static}}/errors.css" rel="stylesheet">
	</head>
	<body>
		<article>
			<h1>503 Service Unavailable</h1>
			<p>Connection to the {{error.service}} API could not be established. This probably means the upstream service is not running. Please file a bug report <a href="{{error.project}}">here</a>.</p>
			<h2>Debugging Information</h2>
			<p>This is the stack trace of the error as it occured on the backend:</p>
			<pre><code>{{error.stacktrace}}</code></pre>
		</article>
	</body>
</html>
