<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>500 Internal Server Error</title>
		<base href="{{base}}">

	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <link href="{{static}}/errors.css" rel="stylesheet">
	</head>
	<body>
		<article>
			<h1>500 Internal Server Error</h1>
			<p>Error: it appears that the {{error.previous}} returned data that was invalid input for the {{error.current}}, though it is also possible that the input was valid and the {{error.current}} experienced an application failure. For the former case, please file a bug report <a href="{{error.previous_project}}">here</a>. For the latter case, please file a bug report <a href="{{error.current_project}}">here</a>.
			<h2>Debugging Information</h2>
			<p>The {{error.current}} returned a status of {{error.status}} with the following error messages:</p>
			{% for message in error.messages %}
			<pre><code>{{message}}</code></pre>
			{% endfor %}
		</article>
	</body>
</html>