<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>500 Internal Server Error</title>
		<base href="{{base}}">

	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <link href="{{static}}/errors.css" rel="stylesheet">
	</head>
	<body>
		<article>
			<h1>500 Internal Server Error</h1>
			<p>The backend application has encountered an error. Please file an issue on <a href="https://gitlab.com/c2metadata/end_to_end_webservice">this repository</a>.
			<h2>Debugging Information</h2>
			<p>This is the stack trace of the error as it occured on the backend:</p>
			<pre><code>{{error.original_exception}}</code></pre>
		</article>
	</body>
</html>
