<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>500 Internal Server Error</title>
		<base href="{{base}}">

	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <link href="{{static}}/errors.css" rel="stylesheet">
	</head>
	<body>
		<article>
			<h1>500 Internal Server Error</h1>
			<p>Error: the {{error.service}} did not return valid {{error.filetype}}. This is likely an upstream issue, so please file a bug report in the <a href="{{error.project}}">appropriate repository</a>.
			<h2>Debugging Information</h2>
			<p>This is the stack trace of the error as it occured on the backend:</p>
			<pre><code>{{error.stacktrace}}</code></pre>
			<br />
			<p>And this is the invalid file returned by the {{error.service}}:</p>
			<pre><code class="raw">{{error.output}}</code></pre>
		</article>
	</body>
</html>
